# IntelliJ
*.ipr
*.iws
*.iml
.idea
/out/

.DS_Store

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Custom

local-deploy.sh

### Node ###
node_modules

# Grails
.sass-cache
.slcache
/logs/
