@use "variables-and-mixins";

//////////////////////////////////
// Navigation
//////////////////////////////////

.forum-nav {
  margin-top: variables-and-mixins.$space-4;
}

.forum-nav__list {
  display: flex;
}

.forum-nav__list-item {
  & + .forum-nav__list-item {
    margin-left: variables-and-mixins.$space-6;
  }
}

.forum-pagination-nav {
  font-size: variables-and-mixins.$text-sm;
  margin-top: variables-and-mixins.$space-4;
}

//////////////////////////////////
// Table
//////////////////////////////////

.forum-posts-table {
  margin-top: variables-and-mixins.$space-4;
}

// Mobile table

@media screen and (max-width: variables-and-mixins.$screen-md) {
  .forum-posts-table {
    tbody {
      th {
        margin-bottom: variables-and-mixins.$space-2;
        padding-bottom: variables-and-mixins.$space-2;
        font-size: variables-and-mixins.$text-lg;
        font-weight: 600;
        border-bottom: solid variables-and-mixins.$light-grey 1px;
        border-radius: 0;
      }

      tr {
        position: relative;
        display: flex;
        flex-direction: column;

        // Mobile cell labels
        td {
          &:nth-of-type(3):before {
            content: "Posted by: ";
          }

          &:nth-of-type(4):before {
            content: "Posted on: ";
          }

          &:nth-of-type(5):before {
            content: "Last reply: ";
          }

          &:nth-of-type(6):before {
            content: "Views: ";
          }

          &:nth-of-type(7):before {
            content: "Replies: ";
          }
        }
      }
    }
  }

  .forum-posts-table__expedition {
    order: 2;
    color: variables-and-mixins.$dark-grey;
    margin-bottom: variables-and-mixins.$space-2;
  }

  .forum-posts-table__status {
    position: absolute;
    right: -7px;
    top: -10px;
  }
}

//////////////////////////////////
// Post
//////////////////////////////////

.forum-post-page-header {
  margin-bottom: variables-and-mixins.$space-4;
}

.forum-post-page-header__external-link {
  display: inline-block;
}

.forum-post-page-header__status-and-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: variables-and-mixins.$space-3;
  margin-bottom: variables-and-mixins.$space-3;
}

.forum-post__list-item {
  padding: variables-and-mixins.$space-4;
  border: solid variables-and-mixins.$light-grey 1px;
  border-radius: 10px;

  & + .forum-post__list-item {
    margin-top: variables-and-mixins.$space-4;
  }
}

.forum-post__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: variables-and-mixins.$space-4;
}

.forum-post__heading {
  font-size: variables-and-mixins.$text-sm;
  font-weight: 800;
}

.forum-post__date-time {
  color: variables-and-mixins.$dark-grey;
}

// Reply

.forum-post__textarea {
  display: block;
  height: 200px;
  width: 100%;
  margin-bottom: variables-and-mixins.$space-4;
  padding: variables-and-mixins.$space-2;
  border: solid variables-and-mixins.$light-grey 1px;
}

.forum-post-buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.forum-post-buttons--justify-between {
  justify-content: space-between;
}

.forum-post-buttons__labels {
  display: flex;
}

.forum-post-buttons__label-list-item {
  margin-left: variables-and-mixins.$space-2;
}

.forum-post-buttons__label-list {
  display: flex;
}

.forum-post-button {
  min-height: variables-and-mixins.$space-10;
  margin-bottom: variables-and-mixins.$space-1;
  padding-left: variables-and-mixins.$space-2;
  padding-right: variables-and-mixins.$space-2;
  color: white;
  background-color: black;

  &:hover {
    // color: black;
    background-color: variables-and-mixins.$digivol-orange;
  }

  & + .forum-post-button {
    margin-left: variables-and-mixins.$space-2;
  }
}
