.a-feature {
	margin-bottom: 0;
	padding: 15% 0 10% 0;
	&.home {
		color: white;
		//background: url(../img/feature-digivol-b.jpg) no-repeat center center fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-bottom: 0%;
	}
	&.institution {
		background-color: #fff;
		padding: 6% 0 0 0;
		h1, h2 {
			color: $black;
		}
		.contact {
			margin-top: 20px;
		}
		.progress-legend {
			font-size: 14px;
			line-height: 18px;
		}	
	}
	&.simple-header {
		background-color: #fff;
		padding:  3% 0 3% 0;
		h1, h2 {
			color: $black;
		}
	}
	&.expedition {
		background-color: #fff;
		padding: 60px 0 0 0;
		//background: url(../img/feature-expedition.jpg) no-repeat center center fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		.logo-holder {
			width: 90px;
			height: 90px;
			padding: 15px;
			line-height: 60px;
			background-color: white;
			border-radius: 4px;
			display: table-cell;
			vertical-align: middle;
			img {
				max-height: 60px;
				max-width: none;
			}
		}
		p {
			color: #eee;
		}
		a.forum-link {
			color: #bbb;
			display: block;
			text-decoration: none;
			&:hover {
				color: #fff;
			}
		}
		h1, h2 {
			color: white;
		}
		.progress-summary {
			border-top: 1px solid #444;
			//margin-top: 0;
			h3 {
				color: white;
			}
		}
		.progress-legend {
			color: white;
			font-size: 14px;
			line-height: 18px;
		}		
	}
	&.expedition.old {
		background-color: #fff;
		padding: 60px 0 0 0;
		background-image: none;
		p {
			color: $body-copy;
		}
		a.forum-link {
			color: $link-color;
			&:hover {
				color: #fff;
			}
		}
		h1, h2 {
			color: $black;
		}
		.progress-summary {
			border-top: 1px solid #eee;
			//margin-top: 8%;
			h3 {
				color: $black;
			}
		}
		.progress-legend {
			color: $black;
			font-size: 14px;
			line-height: 18px;
		}
		.thumb-old {
			margin-top: 30px;
		}
		a.forum-link {
			color: $link-color;
			&:hover {
				color: #337ab7;
			}
		}
	}
	.profile-summary {
		h2 {

		}
	}
	h1 {
		font-size: 35px;
	}
	h2 {
		font-weight: 400;
		font-size: 22px;
		margin: 10px 0 20px 0;
	}
	h3 {
		font-size: 14px;
		margin-top: 20px;
		line-height: 18px;
		font-weight: 400;
		color: $black;
		b {
			font-weight: 600;
			display: block;
			margin: 0;
		}
	}
	p.section-description {
		font-size: 20px;
		line-height: 26px;
	}
	.btn-primary {
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.cta-primary {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.image-origin {
		padding-top: 3em;
		padding-bottom: 0;
		color: #bbb;
		text-align: right;
		font-style: italic;
		font-size: 12px;
	}
}
@media (min-width: $screen-sm) {
	.a-feature {
		&.expedition {
			padding-top: 8%;
		}
		h1 {
			font-size: 55px;
		}
		h2 {
			font-size: 26px;
		}
		h3 {
			font-size: 26px;
			margin-top: 0;
			line-height: 36px;
		}
		&.simple-header {
			h1 {
				font-size: 45px;
			  margin-top: 0;
			}
		}
		&.profile-summary {
			h2 {
				font-size: 26px;
				line-height: 36px;
				margin: 0;
			}
			p {
			}
		}
	}
}


/* Cards */
.thumbnail {
	padding:0;
	display: block;
	margin-bottom: 30px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
	box-shadow: 0px 1px 0px #eee;
	h4 {
		a {
			color: $black;
			&:hover {
				text-decoration: none;
				color: black;
			}
		}
	}
	.caption {
		padding: 16px;
		p {
			color: $body-copy;
		}
	}
	img {
		border-radius: 4px 4px 0 0;
	}
	&.institution {
		a.imgLink {
			display: block;
			min-height: 250px;
			line-height: 50px;
			padding-top: 0;
		}
		img {
			width: 200px;
			max-width: 200px;
			max-height: 200px;
		}
		h4 {
			min-height: 40px;
		}
		p.shortDescription {
			min-height: 68px;
		}
		div.logo-centre {
			width: 100%;
			height: 225px;
			padding-top: 10px;
			text-align: center;
			display: table;
			a {
				display: table-cell;
				vertical-align: middle;
			}
		}
		.caption {
			padding-top: 0;
		}
	}
	&.row-style {
		margin-bottom: 15px;
		img {
			border-radius: 4px;
			margin: 25px;
		}
		.caption {
			padding: 25px;
		}
	}
	.progress {
	  height: 8px;
	}
}

.progress {
	height: 12px;
	border-radius: 25px;
	.progress-bar-success{
		background-color: rgba( $brand-color, .5 );
	}
	.progress-bar-transcribed{
		background-color: $brand-color;
	}
}
.progress-summary {
	border-top: 1px solid $divider-grey;
	padding: 30px 0 20px 0;
	margin-top: 3em;
}
.expeditionListAnchor {
	margin-top: 50px;
}

.card-filter {
	margin-top: -12px;
	.btn-group, .custom-search-input {
		margin-bottom: 20px;
	}
	
}
.institution-logo-main {
	max-width: 200px;
	margin: 0 auto;
}
.expedition-progress {

	.progress-legend {
		font-size: 11px;
		line-height: 12px;
		color: #333;
		b {
			display: block;
		}
	}
}
.key {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	margin: 0 5px 10px 0;
	float: left;
	&.validated {
		background-color: $validated-color;
	}
	&.transcribed {
		background-color: $brand-color;
	}
	&.volunteers {
		background-color: $background-grey;
	}
	
}
.pie-legend {
	.key {
		display: block;
		float: none;
	}
}

h2.heading, .pre-header {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	margin-bottom: 35px;
	margin-top: 0;
	color: $black;
	font-weight: 400;
}
h2.body-heading {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	margin-bottom: 15px;
	margin-top: 20px;
	color: $black;
}
.media-list {
	.media {
		border-bottom: 1px solid $divider-grey;
		padding: 0 0 10px 0;
		margin-bottom: 20px;
		.join {
			padding: 0;
			background-color: transparent;
			color: $link-color;
			font-size: 14px;
		}
	}
	.media-left {
		img {
			max-width: 40px;
		}
	}

	.media-heading {
		font-size: 14px;
		color: $black;
		a {
			color: $black;
		}
	}
	.transcribed-thumbs {
		margin-bottom: 5px;
		img, a {
			margin: 0 5px 10px 0;
		}
		a {
			display: inline-block;
			height: 40px;
			width: 40px;
			background-color: #aaa;
			color: white;
			text-align: center;
			margin: 0;
			line-height: 13px;
			font-size: 12px;
			padding-top: 4px;
			span {
				display: block;
				margin: 2px 0 0 0 ;
			}
		}
	}
	.btn-xs {
		margin-bottom: 10px;
		padding: 0 20px;
	}
	span.time {
		display: block;
		float: right;
		font-size: 12px;
		color: #ccc;
	}
}
.not-a-badge-row {
  margin-bottom: 10px;
}
.not-a-badge {
  padding: 0;
  min-width: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  &:not(:last-child) {
	margin-right: 10px;
  }
  span {
	margin-right: 5px;
  }
}
.icon-flipped {
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}
.leaderboard {
	padding: 30px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
	box-shadow: 0px 1px 0px #eee;
	margin-bottom:30px;
	a {
		color: $black;
	}
	h2 {
		margin-bottom: 10px;
	}
	ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		border-bottom: 1px solid $divider-grey;
		padding: 10px 0 10px 0;
		&:last-child {
			border-bottom: none;
		}
	}
	span {
		display: block;
		font-size: 20px;
	}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 8px 0;
		font-weight: 500;
		vertical-align: middle;
	}
	.table>thead>tr>th {
		border-bottom: 1px solid $divider-grey;
		color: $black;
	}
	.view-more {
		text-align: right;
		a {
			font-weight: 400;
			color: #aaa;
		}
	}
	.transcribed-amount {
		text-align: right;
	}
	img {
		margin-right: 5px;
		max-width: 40px;
	}
}
.volunteer-stats {
	@extend .leaderboard;
	background-color: $black;
	color: white;
	h2, a {
		color: white;
	}
	h3 {
		color: white;
		font-weight: 600;
		a {
			color: white;
			text-decoration: none;
		}
	}
	p {
		color: $body-copy-on-black;
	}

}
.stepwizard-row {
	display: table-row;

}
.stepwizard {
	display: table;
	width: 100%;
	position: relative;
	border-bottom: 1px solid $divider-grey;
	margin-bottom: 10px;
	padding-bottom: 15px;
	span {
		margin-right: 8px;
	}
	.btn {
		margin: 0 8px;
		&.btn-primary {
			background-color: $black;
		}
	}
}

.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	color: #aaa;
}
.stepwizard-step {    
	display: table-cell;
	text-align: left;
	position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.branding-row {
	margin-bottom: 30px;
}
.transcription-branding {
	img {
		max-height: 40px;
		margin-right: 20px;
	}
	h1 {
		font-size: 18px;
		margin: 0 0 5px 0;
		color: $black;
	}
	h2 {
		font-size: 14px;
		margin: 0;
	}
}
.transcription-sharing {
	margin: 15px 0;
	.fa {
		margin-left: 10px;

	}
}
.transcription-controls {
	text-align: right;
	button {
		i {
			margin-left: 3px;
		}
	}
}
.media-container {
	border-radius: 5px;
	border: 1px solid $divider-grey;
	padding: 5px;
	background-color: white;
	margin-bottom: 10px;
	.movie-thumb {
		max-width: 98px;
		display: inline-block;
		margin-right: 10px;
		margin-top: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
	strong {
		display: block;
	}
}
legend {
	margin-left: 15px;
	border-bottom: none;
	width: auto;
	margin-bottom: 10px;
	font-size: 18px;
	color: $black;
	font-weight: 500;
}
form {
	label {
		font-weight: 400;
		color: $black;
	}
}
.form-group {
	margin-bottom: 5px;
}
.form-control {
	height: 25px;
	padding: 5px 8px;
	margin-bottom: 5px;
}
.transcription-actions {
	padding: 30px 0;
	.btn {
		padding: 10px 20px;
		&.btn-next {
				background-color: $brand-color;
				color: #fff;
				margin-left: 10px;
		}
	}
}


.icon-size
{
	font-size: 87px;
}




.faux-table {
	display: table;
	width: 100%;
}
.faux-img-cell:first-child, .faux-empty-cell:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.faux-img-cell:last-child, .faux-empty-cell:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.faux-table > div > div {
	display: table-cell;
}
.faux-img-cell, .faux-empty-cell {
	border: solid grey 5px;
	background-color: white;
}
.faux-img-cell img {
	width: 100%;
	height: auto;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
@media (max-width: $screen-xs-max) {
	.branding-row {
		margin-bottom: 20px;
	}
	.transcription-controls {
		text-align: left;
		margin-top: 20px;

			
		.btn {
			padding: 10px 10px;
		}
	}
}
.achievements {
	padding-top: 20px;
	margin-top: 10px;
	border-top: 1px solid $divider-grey;
}
.badges {
	margin-top: 20px;
	img {
		max-width: 70px;
		margin: 0 20px 20px 0;
	}
}

.tab-content-bg {
	background-color: white;
	padding: 30px 0 60px 0;
}
.contribution-chart {
	border: 1px solid $divider-grey;
	padding: 25px;
	margin-bottom: 10px;
	h2 {
		display: block;
		margin: 0 0 10px 0;
		font-size: 14px !important;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	#chart-area {
		width: 100%;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}
.expedition-team {
	h3 {
		font-size: 14px;
		color: $black;
	}
	ul {
		list-style: none;
		padding: 0;
		span {
			font-weight: 600;

		}
	}
}




/* Forum Styles */
.forum-table {
	.forum-thumb {
		margin: 10px;
	}
	th, td {
	}
	.button {
		&.sortable {
			padding: 0 10px 10px 8px;
			background-color: transparent;
			font-weight: 400;
			a.btn {
				padding: 0;
			}

		}
	}
}
.expedition-forum {
	h3 {
		font-size: 24px;
		font-weight: 400;
		margin-top: 0;
	}
	.expedition-details {
			padding: 10px 0;
	}
	.expedition-progress {
		margin-top: 10px;
		margin-bottom: 20px;
	}
}
.input-hint {
	cursor:pointer;
	float: right;
	color: #999;
	font-size: 20px;
	&:hover {
		color: $black;
	}
}
.tab-pane-header {
	margin-bottom: 20px;
}
table thead th {
	font-weight: 400;
	color: $black;
}

/* Map Styles */
#map {
	min-height: 400px;
	z-index: 0;
}
.map-header {
	position: relative;
	margin: 40px 0 -500px 50px;
	z-index: 1000;
	background: white;
	padding: 30px 30px 25px 30px;
	border-radius: 4px;
	opacity: 0.8;
	color: #393939;
	h2 {
		margin-bottom: 8px;

	}
	p {
		margin: 0;
		padding: 0;

	}
}
/* Modal Style */
.modal {
	h5 {
		@extend h2.heading;
		margin-bottom: 20px;
	}
	select, input {
		margin-bottom: 10px;
	}
	.modal-body, .modal-header {
		padding: 25px;
	}
	section.dark h5 {
	  color: white;
	}
}
/* Confirmation Form */
.confirmation-table {
	font-size: 12px;
	thead, tbody {
		a {
			display: inline-block;
			margin-left: 10px;
		}
		tr {
			th, td {
				padding: 5px 0 5px 0;
				border-color: $divider-grey;
			}
		}
		th {
			font-weight: 400;
			color: $black;
		}
	}
}


/* Form input override */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select[type="text"]:focus,
.uneditable-input:focus {   
  border-color: rgba(150, 150, 150, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(150, 150, 150, 0.6);
  outline: 0 none;
}

/* Volunteer Profile */
.avatar-holder {
	width: 60%;
	margin: 30px auto;
}
.profile-tabs>li>a {
	border-radius: 0;
}
@media (min-width: $screen-xs-max) {
	.avatar-holder {
		width: 100%;
		margin: 0;
	}
}


.transcribeSection {
  .row {
	margin-left: -6px;
	margin-right: -6px;
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
	.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
	.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
	.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
	.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
	.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
	.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
	.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	  padding-left: 6px;
	  padding-right: 6px;
	}
  }
}

.transcribeSection.form-condensed, .form-condensed {
	.row {
		margin-left: -5px;
		margin-right: -5px;
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
		.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
		.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
		.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
		.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
		.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
		.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
		.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
		.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
		.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
		.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
		.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.form-control {
		padding: 4px 4px;
	}
}