/* Custom styles to fit new look&feel */
/**************************************/


/*** Begin - Admin ***/

.admin .a-feature.simple-header {
    padding: 0;
    padding-bottom: 1em;
}

.admin #page-header {
    margin-top: 90px;
    margin-bottom: 20px;
}

.admin .container .panel {
    margin: 2em 0;
}

.admin table tbody tr td {
    vertical-align: middle;
}

/* Using the bs3 class to reset properties to original settings as provided by bs3 */
.admin .btn-default {
    border: solid 1px #ccc;
    background-color: #fff;
}

.admin .btn-default:hover {
    background-color: #e6e6e6;
}

.admin .btn-primary {
    margin-top: 0;
}

.admin .modal .modal-header {
    padding: 15px;
}

/*** End - Admin ***/