#page-header {
    margin-top: 90px;
    margin-bottom: 20px;
}

.admin-table a {
    margin-top: 0;
}

.admin-table tbody tr td {
    vertical-align: middle;
}

.btn-default.bs3 {
    border: solid 1px #ccc;
    background-color: #fff;
}

.btn-default.bs3:hover {
    background-color: #e6e6e6;
}