#digivol-stats .leaderboard span[ng-if],
#digivol-stats .leaderboard span[data-ng-if],
#digivol-stats .volunteer-stats span[ng-if],
#digivol-stats .volunteer-stats span[data-ng-if] {
    display: inline;
    font-size: inherit;
}