
body .ac_results li {
    font-size: 12px;
}

.body {
    margin-right: 15px;
}

.body > h1 {
    font-size: 1.8em;
    border-bottom: 4px solid #D9D9D9;
    margin-left: -16px;
    padding:  5px 5px 14px 16px;
}

.body > p {
    margin:  0;
}

/* these styles override the site style.css to use the explorer-themed banner */
body {
    /*background:transparent url(../images/explorer-banner.jpg) center 20px repeat-x ! important;*/
    font: normal 1.2em/1.8em Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #FFFEF7;
    color: #333A3F;
}

#banner {
    height:120px ! important;
}

#wrapper_search {
    display: none;
}

html {
    background-color:#f7f4e9 ! important;
    background-image: -moz-linear-gradient(top, #f5f2e3, #f7f4e9) ! important; /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f5f2e3),color-stop(1, #f7f4e9)) ! important; /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f2e3', EndColorStr='#f7f4e9') ! important; /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f2e3', EndColorStr='#f7f4e9')" ! important; /* IE8 */
}

#wrapper > #footer {
    /*background: #F9E9B0;*/
    background: #FAECBB;
    width: 968px;
    border-bottom:  1px solid #C4C4C4;
    border-left:  1px solid #C4C4C4;
    border-right:  1px solid #C4C4C4;
}

#wrapper > #footer, #wrapper > #footer a, #wrapper > #footer a:hover, #wrapper > #footer a:active {
    color: #444;
}

#wrapper > #footer a, #wrapper > #footer a:hover, #wrapper > #footer a:active {
    text-decoration: underline;
}

#wrapper > #footer li {
    background:none;
    list-style: disc;
}

#wrapper > #footer .copyright img {
    opacity: 0.6;
}

#wrapper > #footer span.asterisk-container {
    background: none;
}
/* end */

#content input[type="submit"] {
    color: black;
}

.section > #breadcrumb {
    padding-left: 0px;
}


.section table, .section table thead, .section table th {
    border: none;
}

#projectInfo {
    margin: 10px 10px 10px 16px;
}

.body #projectInfo p {
    padding: 0;
}


#content .body img {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -icab-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}


#taskMetadata {
    width: 330px;
    float: left;
    margin: 10px 10px 0 20px;
}

#taskMetadata ul {
    margin:4px;
    padding:4px;
    /*width: 955px;=
    height: 1.4em;
     border: 2px solid #D9D9D9;
   background-color: #2796AA;*/
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#taskMetadata ul > li > div{
/*    background-color: #2796AA;*/
    display: inline-block;
}

#taskMetadata ul > li {
    background-color: white;
}

#taskMetadata ul li {
    margin:0px;
    padding:0px;
    list-style:none;
 /*    float:left;
    list-style:none;
   height:10px;
    width: 33%;*/
}

#taskMetadata ul li > div {
    font-weight: bold;
}

div.inner a.fieldHelp {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

/* Mapping tool (popup) */

div#mapWidgets {
    width: 100%;
    height: 100%;
}

#mapWidgets #mapWrapper {
    width: 52%;
    height: 100%;
    float: left;
    padding-right: 10px;
}

#mapWidgets #mapCanvas {
    width: 100%;
    height: 94%;
    margin-bottom: 6px;
}

#mapWidgets #mapInfo {
    float: left;
    height: 100%;
    width: 44%;
    padding: 0 0 0 10px;
    text-align: left;
    border-left: 2px solid #cccccc;
}

#mapWidgets #sightingAddress {
    margin-bottom: 4px;
    line-height: 22px;
}

#mapWidgets .searchHint {
    font-size: 11px;
    padding: 4px 0;
    line-height: 1.2em;
    color: #666;
}

#mapWidgets #address {
    width: 360px;
}

.multimedia {
    min-height: 300px;
}

#institutionLogo {
    display: inline-block;
    float: right;
}

#transcribeFields {
    width: 950px;
}

.transcribeForm h3, #mapInfo h3 {
   font-size: 1.1em;
   font-weight: bold;
   color: #718804;
}


#transcribeFields > table, #taskMetadata table, .fields table {
    margin: 10px 0;
    background-color: #F0F0E8;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#transcribeFields > table tr, #journalNotes > table tr {
    width: 450px;
    min-height: 34px;
    float: left;
}


#transcribeFields > table thead tr {
    width: 900px;
}

#transcribeFields > table thead th, #taskMetadata > table thead th {
    vertical-align: middle;
    color: #666;
}

#transcribeFields > table thead tr h3, #taskMetadata > table thead tr h3, #journalNotes > table h3 {
    display: inline-block;
}

#transcribeFields td.name, .fields td.name {
    width: 135px;
    text-align: right;
}

#transcribeFields tr.hidden {
    display: none;
}

#transcribeFields > table thead, #transcribeFields > table thead th  {
    border: none;
}

#transcribeFields td.value, .fields td.value {
    width: 295px;
    color: #666;
}

#collectionEventFields {
    width: 950px;
}


#collectionEventFields > table {
    margin: 10px 0;
    background-color: #F0F0E8;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#collectionEventFields > table tr {
    width: 900px;
    min-height: 34px;
}

#collectionEventFields > table thead tr {
    width: 900px;
}

#collectionEventFields > table thead th {
    vertical-align: middle;
    color: #666;
}

#collectionEventFields > table thead tr h3 {
    display: inline-block;
}

#collectionEventFields td.name {
    width: 135px;
    text-align: right;
}

#collectionEventFields tr.hidden {
    display: none;
}

#collectionEventFields > table thead {
    border: none;
}

#collectionEventFields td.value {
    width: 295px;
    color: #666;
}



.value input, .value textarea {
    width: 260px;
}

div.buttons {
    margin-top: 20px;
}

button.ui-datepicker-trigger {
    border: none;
    background: none;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    margin-top: -2px;
    padding: 0;
}

button.ui-datepicker-trigger img {
   
}

button#geolocate {
    /*color: #DD3122;
    font-size: 14px;
    font-weight: bold;*/
}

input#setLocationFields {
    font-size: 16px;
    font-weight: bold;
    color:white;
    background-color: #DD3102;
    padding: 4px;
}

table.ui-datepicker td {
    padding: 0;
}

div#ui-datepicker-div {
    font-size: 11px;
}


/* MapBox CSS */
.map-control {
    position: absolute;
    top: 330px;
    left: 10px;
    background: url(../images/map-control.png) no-repeat;
    height: 63px;
    width: 100px;
    opacity: 0.9;
}

.map-control a {
    height: 18px;
    width: 18px;
    display: block;
    text-indent: -999em;
    position: absolute;
    outline: none;
}

.map-control a:hover {
    background: #535353;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.map-control a.left {
    left: 39px;
    top: 22px;
}

.map-control a.right {
    left: 79px;
    top: 22px;
}

.map-control a.up {
    left: 59px;
    top: 2px;
}

.map-control a.down {
    left: 59px;
    top: 42px;
}

.map-control a.zoom {
    left: 2px;
    top: 8px;
    height: 21px;
    width: 21px;
}

.map-control a.back {
    left: 2px;
    top: 31px;
    height: 21px;
    width: 21px;
}

/* temporary pagination buttons */

.step {
    text-decoration: none;
    border: 1px solid #3A5C83;
    padding: 3px 7px;
    margin: 2px;
    text-decoration: none !important;
}

.currentStep {
    border: 1px solid #DF4A21;
    color: white;
    background-color: #DF4A21;
    cursor: default;
    padding: 3px 7px;
    margin: 2px;
}

.paginateButtons {
    float: right;
    text-align:center;
    padding-bottom: 20px;
}

.nextLink {
    display: none;
}

.prevLink {
    display: none;
}

/*.section .paginateButtons a, .currentStep{*/
    /*display:inline-block;*/
    /*padding:0 5px;*/
    /*border:1px solid #01716e;*/
    /*text-decoration:none;*/
    /*float:left;*/
    /*margin:0 5px 0 0;*/
/*}*/

/*span.currentStep{*/
    /*display:inline-block;*/
    /*padding:0 5px;*/
    /*border:1px solid #01716e;*/
    /*text-decoration:none;*/
    /*float:left;*/
    /*margin:0 5px 0 0;*/
/*}*/

/*span.currentStep { border-color:#ccc; color:#dd3102; }*/

/*.paginateButtons a:hover {border-color:#dd3102;text-decoration:underline;}*/
.section .paginateButtons .prevLink, .section .paginateButtons .nextLink {border:none;}
.prevLink {text-align:right;}
.nextLink {text-align:center;}

.taskTable {width: 968px; margin:20px 10px 30px 0; border: none;}
.taskTable td  { width: 200px; padding: 10px;}
.taskListImg { width:180px; padding: 0 30px 0 0; margin: 0;}

.taskTable td.editable { }

div.errors {
    border:1px solid red;
    padding: 10px;
    margin-bottom:
    10px;
}


.front-image {
    float:left;
    margin-bottom: 15px;
}

.front-image img {
    margin-left:15px;
}

.front-buttons {
    margin-left:50px;
    text-align: center;
    float: left;
    line-height: 0.0em;
}

.buttons-big {
    width: 192px;
}

.buttons-small {
    width: 84px;
}

.front-buttons a {
    text-decoration: none ! important;
}

.front-buttons img:first-child {
    padding-top: 10px;
    padding-bottom: 8px;
}

div.dialog ul {
    margin-top: 10px;
}

div.list table tr.odd {
    background-color: #F0F0F0;
}

#expedition {
    clear: both;
    padding: 0;
    margin: 0;
}

#expedition #personnel {
    float: left;
    width: 512px;
    padding:  10px;
}

#personnel td {
    padding: 3px 5px;
}

#expedition #progress {
    float: left;
    width: 416px;
    padding:  10px;
    /*border: 1px solid #000;*/
    /*-moz-border-radius: 8px;*/
    /*-webkit-border-radius: 8px;*/
    /*-o-border-radius: 8px;*/
    /*-icab-border-radius: 8px;*/
    /*-khtml-border-radius: 8px;*/
    /*border-radius: 8px;*/
}

#expedition #news {
    height: 175px;
    overflow-y: scroll;
    /*border-bottom: 1px solid #535353;*/
    margin-bottom: 5px;
}

#expedition #news h3 {
    font-weight: bold;
}

#expedition #news p {
    padding-bottom: 5px;
}

/*#recordsChart {*/
    /*width: 140px;*/
    /*float: left;*/
    /*padding:  12px;*/
    /*height: 1.5em;*/
/*}*/

/*#recordsChartWidget {*/
    /*display: inline-block;*/
    /*float: right;*/
    /*width: 395px;*/
    /*margin: 10px 0;*/
    /*height: 1.5em;*/
    /*vertical-align: middle;*/
/*}*/

/*#recordsChartWidget .ui-widget-header {*/
    /*border: 1px solid #C9AB67;*/
    /*background: #CEC193 url(../images/progress_1x100b.png) 50% 50% repeat-x;*/
/*}*/

#progress .ui-widget-content {
    border: 1px solid #C9AB67;
}

#recordsMap {
    width: 204px;
    height: 204px;
    max-height: 204px;
    max-width: 204px;
    margin: 0px 0;
    /*float: right;*/
}

#recordMapLabel {
    /*width: 140px;*/
    float: left;
    padding:  10px;
}

.shadow {
	-moz-box-shadow: 6px 6px 10px #CCC;
	-webkit-box-shadow: 6px 6px 10px #CCC;
	box-shadow: 6px 6px 10px #CCC;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC');
}

#promptUser {
    line-height: 1.8em;
    position: static;
}

span.coordsIcons {
    height: 18px;
}
span.coordsIcons a {
    display: inline-block;
    width: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 13px;
    text-decoration: none;
    color: #DDDDDD;
    background-color: #4075C2;
    padding: 4px 2px 0 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -icab-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

span.coordsIcons a:hover {
    background-color: #0046AD;
}

div#journalText {
    margin-top: 15px;
    width: 670px;
    float: left;
}

#journalText table {
    width: 100%;
    padding-bottom: 10px;
    margin-right: 5px;
}

#journalText #transcribeAllText {
    font-size: 12px;
    padding: 2px;
}

#journalFields table {
    width: 100%;
    padding-bottom: 10px;
    margin-left: 5px;
}

div#journalFields {
    margin-top: 15px;
    width: 298px;
    float: left;
}

div#journalFields th {
    border-bottom: 2px solid #ffffff;
}

div#journalFields tr td {
    padding: 5px;
    border-bottom: 2px solid #ffffff;
}

div#journalFields tr:last-child td {
    border-bottom: none;
}

tr.fieldNoteFields td label {
    display: inline-block;
    /*width: 120px;*/
    text-align: right;
    padding-right: 6px;
    padding-left: 6px;
}

tr.fieldNoteFields td input {
    display: inline-block;
    width: 140px;
}

#journalNotes {
    clear: both;
}

#imagePane {
    clear: both;
    overflow-x: auto;
    overflow-y: auto;
}

#journalPageButtons {
    display: inline-block;
    margin: 4px 10px;
}

#content {
    padding-bottom: 20px;
}

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

.systemMessage {
    background: #fffacd url(../images/skin/exclamation.png) 8px 50% no-repeat;
    border: 1px solid red;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}


.avatar {
    padding-top: 6px !important;
}

span.help-container {
    background: url(../images/help.png) right 0 no-repeat;
    padding: 5px 20px 0 0;
}

span.help-container:hover {
	background-position:right -81px;
}

.rotate-image {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-filter: flipv fliph; /*IE*/
    filter: flipv fliph; /*IE*/
}

.copyright-label {
    font-size: 0.8em;
    font-style: italic;
    vertical-align: top;
    text-align: center;
    line-height: 1.2em
}

.comments-content {
    width: 600px;
}

.task-comment-container {
    background: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 5px;
}

.task-comment-container hr {
    padding-bottom: 0px;
    margin-bottom: 5px;
    height: 1px;
    border: none;
}

.task-comment-username {
    float: left;
    font-weight: bold;
}

.task-comment-date {
    float: right;
    font-weight: bold;
}

.task-comment-header {
}

.task-comment-delete {
}

