.imageSelectWidget a.thumbnail.selected,
.imageSelectWidget a.thumbnail.selected:hover {
    border-color: #df4a21;
    -webkit-box-shadow: 0 1px 4px rgba(211, 66, 26, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(211, 66, 26, 0.25);
    box-shadow: 0 1px 4px rgba(211, 66, 26, 0.25);
}


/* Disable focus transitions inside the qa carousel because
   they interfere with the carousel slide transitions */
#qaCarousel.carousel a.thumbnail.selected {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#qaCarousel.carousel textarea,
#qaCarousel.carousel input[type="text"],
#qaCarousel.carousel input[type="password"],
#qaCarousel.carousel input[type="datetime"],
#qaCarousel.carousel input[type="datetime-local"],
#qaCarousel.carousel input[type="date"],
#qaCarousel.carousel input[type="month"],
#qaCarousel.carousel input[type="time"],
#qaCarousel.carousel input[type="week"],
#qaCarousel.carousel input[type="number"],
#qaCarousel.carousel input[type="email"],
#qaCarousel.carousel input[type="url"],
#qaCarousel.carousel input[type="search"],
#qaCarousel.carousel input[type="tel"],
#qaCarousel.carousel input[type="color"],
#qaCarousel.carousel .uneditable-input {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#qaCarousel.carousel {
    margin-bottom: 30px;
}

/* Move the QA template paging indicators to the bottom and darken the colour */
#qaCarousel.carousel .carousel-indicators-container {
    position: absolute;
    left: 50%;
    right: unset;
    bottom: -10px;
}

#qaCarousel.carousel .carousel-indicators-container > .carousel-indicators {
    top: inherit;
    top: initial;
    top: unset;
    right: inherit;
    right: initial;
    position: relative;
    margin-left: -50%;
}

#qaCarousel .carousel-indicators .active {
    background-color: #000;
}

#qaCarousel .itemgrid .item, #qaCarousel .itemgrid .griditem {
    width: 110px;
}

#qaCarousel .bvpBadge img {
    width: 100px;
    height: 100px;
}

/* Make image viewer bigger for QA transcribe */
.tall-image #image-container {
    height: 500px;
}

.extra-tall-image #image-container {
    height: 520px;
}

#qaCarousel .carousel-indicators li {
    background-color: #333;
    background-color: rgba(30, 30, 30, 0.25);
    cursor: pointer;
}

.carousel-control {
    text-decoration: none;
}

.qt-row {
    min-height: 200px;
}

#qaCarousel.carousel .carousel-inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#qaCarousel.carousel .carousel-inner > .item {
    /*min-height: 200px;*/
    height: 500px;
    overflow-y: auto;
    margin-bottom: 15px;
    padding-bottom:5px;
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(255,254,247,1)), to(rgba(0,0,0,0.3)))
    /*#ff fe f7*/
}

#qaCarousel.carousel .carousel-control {
    top: inherit;
    top: initial;
    top: unset;
    left: 30%;
}

#qaCarousel.carousel .carousel-control.right {
    left: auto;
    right: 30%;
}

.btn, #qaCarousel .carousel-control, #qaCarousel .carousel-indicators {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#camera-trap-questions {
    position: relative;
    /*border: 1px solid rgb(226,226,210);*/
    /*border-radius: 2px;*/
}

#camera-trap-questions .item {
    opacity: 0.0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    z-index: 0;
    display: none;
}

#camera-trap-questions .item.active {
    opacity: 1.0;
    z-index: 1;
    visibility: visible;
    display: initial;
}

#camera-trap-questions .item.fading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    visibility: visible;
    display: initial;
}

#ct-landing .btn-ct-landing {
    margin: 0 auto;
}

#ct-landing .btn-group.btn-group-vertical {
    display: block;
}

.ct-thumbnail {
    position: relative;
}

.ct-thumbnail .ct-badge {
    position: absolute;
    top: 4px;
    opacity: 0.8;
}

.ct-thumbnail .ct-badge.selected {
    opacity: 1;
}

.ct-thumbnail .ct-badge-sure.selected {
    background-color: #468847;
}

.ct-thumbnail .ct-badge-uncertain.selected {
    background-color: #f89406;
}

.ct-thumbnail .ct-badge-sure {
    left: 4px;
}

.ct-thumbnail .ct-badge-sure:hover {
    background-color: #468847;
}

.ct-thumbnail .ct-badge-uncertain:hover {
    background-color: #f89406;
}

.ct-thumbnail .ct-badge-uncertain {
    right: 4px;
}

.ct-thumbnail .ct-caption-container {
    line-height: 0;
}

.ct-thumbnail .ct-caption, .is-caption {
    display: inline-block;
    /*display: block; /!* Fallback *!/*/
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*max-width: 150px;*/
    line-height: 1.5;
    height: 40px; /*$font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    /*margin: 0 auto;*/
    /*font-size: $font-size;*/
    /*line-height: $line-height;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.ct-badge {
    cursor: pointer;
    transition: all .25s ease-in-out;
}

/*#camera-trap-questions .item.active div {*/
    /*position: static;*/
    /*height: 500px;*/
/*}*/