.imageSelectWidget a.thumbnail.selected,
.imageSelectWidget a.thumbnail.selected:hover {
    border-color: #df4a21;
    -webkit-box-shadow: 0 1px 4px rgba(211, 66, 26, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(211, 66, 26, 0.25);
    box-shadow: 0 1px 4px rgba(211, 66, 26, 0.25);
}

.imageSelectWidget a.thumbnail.selected {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.qt-row {
    min-height: 200px;
}

#qaCarousel.carousel .carousel-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#qaCarousel.carousel .carousel-inner .item {
    min-height: 200px;
}