/*body {*/
    /*background: #faf9f8 url(../images/vp/bkg.jpg) no-repeat;*/
    /*text-align: center;*/
    /*margin: 0;*/
/*}*/

body {
    text-align: center;
    color: #333A3F;
}

/*body div header, body div nav, footer {*/
    /*font: normal 1.2em/1.8em Arial, Helvetica, sans-serif;*/
/*}*/

#vp-menu {
    background-color: white;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    padding-top: 0;
    -moz-border-radius: 7px 0 0 7px; /* FF1+ */
    -webkit-border-radius: 7px 0 0 7px; /* Saf3+, Chrome */
    -o-border-radius: 7px 0 0 7px;
    -icab-border-radius: 7px 0 0 7px;
    -khtml-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    border-radius: 0 0 10px 10px; /* Opera 10.5, IE 9 */
}

#content-getinvolved a.button, #content-search form button, a.button.orange, button.orange {
    font:normal 1.2em/1.8em;
}

#vp-menu img {
    float: left;
    margin-left: 20px;
}

#vp-menu ul {
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 10px 20px 0 0;
}

#vp-menu li {
    display: inline;
    padding: 0 5px;
}

#vp-menu a{
    color: #666;
}

#vp-header {
    margin: 20px 0 10px 40px;
    text-align: left;
}

.page-template-landing_w_search-php #page-header, .page-template-landing_wo_search-php #page-header, .species #page-header, .sublevel #page-header, #sp-help #page-header, .page-template-landing_sub-php #page-header, .sub-site #page-header{
	padding-top:38px;
	position:relative;
	top:-38px;
	margin-bottom:-38px;
	/* background-color:#486688; */
}

#page-header p {
	font-size:1.2em;
	padding-bottom:0;
}

#page-header hgroup h2 {
    font: 1.2em/1.6em Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Narrow", Arial, Helvetica,sans-serif;
    font-weight: narrow;
}

h1, article.article-1 h2 {
    font-size: 3.0em;
    line-height: 1;
    padding-bottom: 12px;
}

h2, #articles h1, .col-two .boxed h1 {
    font-size: 2em;
    line-height: 1;
    padding-bottom: 12px;
}

h2 {
    /*color: #993300;*/
    /*margin-bottom: 1px;*/
    /*margin-top: 8px;*/
}

h3 {
    margin: 0 0 5px 0;
}

#vp-header p {
    color: #333;
    font-size: 18px;
    margin-right: 40px;
}

#project-picker {
    margin: 60px 0 30px 0px;
    width: 1000px;
    text-align: center;
}

#project-picker > p {
    margin: 8px;
}

#rollovers {
    padding:  0;
    margin: 2px auto;
}

#rollovers li {
    list-style-type: none;
    display: inline;
    padding: 2px;
}

.rollover-tab img {
    border: 1px solid black;
}

#rollovers li.current {
    background: transparent url(../images/vp/arrow.png) center 16px no-repeat;
}

#description-panes {
    border: 2px solid black;
    position: relative;
    width: 752px;
    height: 203px;
    margin: 0 auto;
}

#description-panes a.projectLink {
    color: #993300;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 8px;
}

#description-panes h3 {
    font-size: 16px;
}

#description-panes > div {
    background-color: white;
    display:none;
    position:absolute;
    top:0;
    left:0;
    font-size:13px;
    color:#444;
    width: 750px;
}

#description-panes > div img {
    float: left;
    width: 502px;
    padding-right: 10px;
    margin: -1px;
}
#description-panes > div img.active {
    cursor: pointer;
}
#description-panes > div p {
    padding: 5px;
    margin: 0;
    line-height: 15px;
    font-size: 12px;
}

#vp-footer {
    margin: 0;
    background-color: #faf2eb;
    color: #444;
    padding: 0 8px 8px 8px;
    text-align: left;
    border-top: 1px solid silver;
}

#vp-footer p {
    font-size: 0.9em;
    line-height: 31px;
}

#vp-footer .left {
    float: left;
}

#vp-footer a {
    color: #444;
}

#vp-footer img {
    padding: 0 10px;
    opacity: 0.6;
    border: none;
}
