/* Colors */

$brand-color: #d5502a;
$background-grey: #f6f6f6;
$heading-grey: #777;
$black: #222;
$body-copy: #696969;
$body-copy-on-black: #999;
$divider-grey: #eee;
$validated-color: #e1eca0;
$link-color: #2B779A;

$smithsonian-color: #0097d4;
$museumvictoria-color: #6e9a35;


