<link rel="stylesheet" ng-href="{{context}}/assets/forum.css" />
<div class="container forum">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <message topic-id="topicId" msg="message" preview="preview" watch="watch"
                             get-message-preview="getMessagePreview()" save-new-message="updateMessage()">
                    </message>
                </div>
            </div>
        </div>
    </div>
</div>