body {
	background-color: $background-grey;
	color: $body-copy;
}
body.expedition-landing {
	.navbar {
 		background-color: transparent !important;
 	}
}
p {
	line-height: 22px;
}
p.intro {
	font-weight: 600;
	color: $black;
}

a {
	color: $link-color;
	&:hover {
		text-decoration: none;
	}
	&:focus {
  		outline: none;
  	}
}



@media (max-width: 1200px) {
	body.expedition-landing {

	}	
}