
body .ac_results li {
    font-size: 12px;
}

.body {
    margin-right: 15px;
}

.body > h1 {
    font-size: 1.8em;
    border-bottom: 4px solid #D9D9D9;
    margin-left: -16px;
    padding:  5px 5px 14px 16px;
}

/* these styles override the site style.css to use the explorer-themed banner */
body {
    background:transparent url(../images/explorer-banner.jpg) center 0 repeat-x ! important;
}

#banner {
    height:120px ! important;
}

#wrapper_search {
    display: none;
}

html {
    background-color:#f7f4e9 ! important;
    background-image: -moz-linear-gradient(top, #f5f2e3, #f7f4e9) ! important; /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f5f2e3),color-stop(1, #f7f4e9)) ! important; /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f2e3', EndColorStr='#f7f4e9') ! important; /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f2e3', EndColorStr='#f7f4e9')" ! important; /* IE8 */
}

#wrapper > #footer {
    /*background: #F9E9B0;*/
    background: #FAECBB;
    width: 968px;
    border-bottom:  1px solid #C4C4C4;
    border-left:  1px solid #C4C4C4;
    border-right:  1px solid #C4C4C4;
}

#wrapper > #footer, #wrapper > #footer a, #wrapper > #footer a:hover, #wrapper > #footer a:active {
    color: #444;
}

#wrapper > #footer a, #wrapper > #footer a:hover, #wrapper > #footer a:active {
    text-decoration: underline;
}

#wrapper > #footer li {
    background:none;
    list-style: disc;
}

#wrapper > #footer .copyright img {
    opacity: 0.6;
}

#wrapper > #footer span.asterisk-container {
    background: none;
}
/* end */

#content input[type="submit"], #fancybox-wrap input[type="submit"] {
    color: black;
}

div.nav { margin-bottom: 10px; }

div.nav a, #breadcrumb a {
    background: url('http://www.ala.org.au/wp-content/themes/ala/images/breadcrumb-bg.png') right center no-repeat;
    padding-right: 5px;
    margin-right: 3px;
    text-decoration: none;
}

.section > #breadcrumb {
    padding-left: 0px;
}


.section table, .section table thead, .section table th {
    border: none;
}


#content .body img {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -icab-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}


#taskMetadata {
    width: 300px;
    float: left;
    margin: 20px;
}

#taskMetadata ul {
    margin:4px;
    padding:4px;
    /*width: 955px;=
    height: 1.4em;
     border: 2px solid #D9D9D9;
   background-color: #2796AA;*/
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#taskMetadata ul > li > div{
/*    background-color: #2796AA;*/
    display: inline-block;
}

#taskMetadata ul > li {
    background-color: white;
}

#taskMetadata ul li {
    margin:0px;
    padding:0px;
    list-style:none;
 /*    float:left;
    list-style:none;
   height:10px;
    width: 33%;*/
}

#taskMetadata ul li > div {
    font-weight: bold;
}

div.body a.fieldHelp {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

/* Mapping tool (popup) */

div#mapWidgets {
    width: 100%;
    height: 100%;
}

#mapWidgets #mapWrapper {
    width: 52%;
    height: 100%;
    float: left;
    padding-right: 10px;
}

#mapWidgets #mapCanvas {
    width: 100%;
    height: 94%;
    margin-bottom: 6px;
}

#mapWidgets #mapInfo {
    float: left;
    height: 100%;
    width: 44%;
    padding: 0 0 0 10px;
    text-align: left;
    border-left: 2px solid #cccccc;
}

#mapWidgets #sightingAddress {
    margin-bottom: 4px;
    line-height: 22px;
}

#mapWidgets .searchHint {
    font-size: 11px;
    padding: 4px 0;
    line-height: 1.2em;
    color: #666;
}

#mapWidgets #address {
    width: 360px;
}

.multimedia {
    min-height: 300px;
}

#institutionLogo {
    display: inline-block;
    float: right;
}

#transcribeFields {
    width: 950px;
}

.transcribeForm h3, #mapInfo h3 {
   font-size: 1.1em;
   font-weight: bold;
   color: #718804;
}


#transcribeFields > table, #taskMetadata table {
    margin: 10px 0;
    background-color: #f0f0f0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#transcribeFields > table tr {
    width: 450px;
    min-height: 34px;
    float: left;
}

#transcribeFields > table thead tr {
    width: 900px;

}

#transcribeFields > table thead th, #taskMetadata > table thead th {
    vertical-align: middle;
    color: #666;
}

#transcribeFields > table thead tr h3, #taskMetadata > table thead tr h3 {
    display: inline-block;
}

#transcribeFields td.name {
    width: 135px;
    text-align: right;
}

#transcribeFields tr.hidden {
    display: none;
}

#transcribeFields > table thead, #transcribeFields > table thead th  {
    border: none;
}

#transcribeFields > table thead th {
    /*text-align: right;*/
}

#transcribeFields td.value {
    width: 295px;
    color: #666;
}

.value input, .value textarea {
    width: 260px;
}

div.buttons {
    margin-top: 20px;
}

button.ui-datepicker-trigger {
    border: none;
    background: none;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    margin-top: -2px;
    padding: 0;
}

button.ui-datepicker-trigger img {
   
}

button#geolocate {
    /*color: #DD3122;
    font-size: 14px;
    font-weight: bold;*/
}

input#setLocationFields {
    font-size: 16px;
    font-weight: bold;
    color:white;
    background-color: #DD3102;
    padding: 4px;
}

table.ui-datepicker td {
    padding: 0;
}

div#ui-datepicker-div {
    font-size: 11px;
}


/* MapBox CSS */
#viewport, .imageWrapper {
    width: 600px;
    height: 400px;
    float: left;
    cursor: move;
    margin: 10px auto;
    overflow: hidden;
}

.imageWrapper {
    position: relative;
}

.map-control {
    position: absolute;
    top: 30px;
    right: 10px;
    background: url(../images/map-control.png) no-repeat;
    height: 63px;
    width: 100px;
    opacity: 0.7;
}

.map-control a {
    height: 18px;
    width: 18px;
    display: block;
    text-indent: -999em;
    position: absolute;
    outline: none;
}

.map-control a:hover {
    background: #535353;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.map-control a.left {
    left: 39px;
    top: 22px;
}

.map-control a.right {
    left: 79px;
    top: 22px;
}

.map-control a.up {
    left: 59px;
    top: 2px;
}

.map-control a.down {
    left: 59px;
    top: 42px;
}

.map-control a.zoom {
    left: 2px;
    top: 8px;
    height: 21px;
    width: 21px;
}

.map-control a.back {
    left: 2px;
    top: 31px;
    height: 21px;
    width: 21px;
}

/* temporary pagination buttons */

.paginateButtons {
    float: right;
    margin-right: 60px;
    text-align:center;
    padding-bottom: 20px;
}

.paginateButtons span {
    float:right;
    margin:0 auto;
}
.section .paginateButtons a, .currentStep{
    display:inline-block;
    padding:0 5px;
    border:1px solid #01716e;
    text-decoration:none;
    float:left;
    margin:0 5px 0 0;
}

span.currentStep{
    display:inline-block;
    padding:0 5px;
    border:1px solid #01716e;
    text-decoration:none;
    float:left;
    margin:0 5px 0 0;
}

span.currentStep { border-color:#ccc; color:#dd3102; }

.paginateButtons a:hover {border-color:#dd3102;text-decoration:underline;}
.section .paginateButtons .prevLink, .section .paginateButtons .nextLink {border:none;}
.prevLink {text-align:right;}
.nextLink {text-align:center;}

.taskTable {width: 968px; margin:20px 10px 30px 0; border: none;}
.taskTable td  { width: 200px; padding: 10px;}
.taskListImg { width:180px; padding: 0 30px 0 0; margin: 0;}

.taskTable td.editable { }

div.errors { border:1px solid red; padding: 10px; margin-bottom: 10px; }


.front-image {
    float:left;
    margin-bottom: 15px;
}

.front-image img {
    margin-left:15px;
}

.front-buttons {
    margin-left:50px;
    text-align: center;
    float: left;
    line-height: 0.0em;
}

.buttons-big {
    width: 192px;
}

.buttons-small {
    width: 84px;
}

.front-buttons a {
    text-decoration: none ! important;
}

.front-buttons img:first-child {
    padding-top: 10px;
    padding-bottom: 8px;
}

div.dialog ul {
    margin-top: 10px;
}

div.list table tr.odd {
    background-color: #F0F0F0;
}

#expedition {
    clear: both;
    padding: 0;
    margin: 0;
}

#expedition #personnel {
    float: left;
    width: 512px;
    padding:  10px;
}

#personnel td {
    padding: 3px 5px;
}

#expedition #progress {
    float: left;
    width: 416px;
    padding:  10px;
    /*border: 1px solid #000;*/
    /*-moz-border-radius: 8px;*/
    /*-webkit-border-radius: 8px;*/
    /*-o-border-radius: 8px;*/
    /*-icab-border-radius: 8px;*/
    /*-khtml-border-radius: 8px;*/
    /*border-radius: 8px;*/
}

#recordsChart {
    /*width: 140px;*/
    float: left;
    padding:  12px;
    height: 1.5em;
}

#recordsChartWidget {
    /*display: inline-block;*/
    /*float: right;*/
    width: 395px;
    margin: 10px 0;
    height: 1.5em;
    vertical-align: middle;
}

#recordsChartWidget .ui-widget-header {
    border: 1px solid #C9AB67;
    background: #CEC193 url(../images/progress_1x100b.png) 50% 50% repeat-x;
}

#progress .ui-widget-content {
    border: 1px solid #C9AB67;
}

#recordsMap {
    width: 400px;
    height: 400px;
    margin: 10px 0;
    /*float: right;*/
}

#recordMapLabel {
    /*width: 140px;*/
    float: left;
    padding:  10px;
}

.shadow {
	-moz-box-shadow: 6px 6px 10px #CCC;
	-webkit-box-shadow: 6px 6px 10px #CCC;
	box-shadow: 6px 6px 10px #CCC;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC');
}

#promptUser {
    line-height: 1.8em;
    position: static;
}
