/***** DoeDat custom look & feel ******/

.a-feature.home {
    background-color: #777777;
    background-image: url(../images/feature-doedat.png);
    background-position-y: 28px;
    background-position-x: 67px;
}