/***** DoeDat custom look & feel ******/

.selectable {
    cursor: pointer;
}
.a-feature.home {
    background-color: #858a58;
    background-image: url(../images/feature-doedat.png);
    background-position-y: 28px;
    background-position-x: 67px;
}
/*.expedition-landing .dropdown-menu {
    left: inherit;
}*/
.locale {
    text-transform: uppercase;
}
@media (min-width: 1200px) {
    .navbar-fixed-top .navbar-collapse {
        padding-left: 100px;
        padding-right: 100px;
    }
    .navbar-nav {
        float: initial;
        margin-left: auto;
        width: initial;
        margin-right: auto;
    }
    .navbar-wrapper > .custom-search-input {
        position: absolute;
        right: 33px;
    }
    .nav > li {
        display: inline-block;
    }

    .navbar-wrapper {
        text-align: center;
        height: 70px;
    }
    .navbar-wrapper > ul {
        display: inline-block;
    }
    .navbar-wrapper > li {
        float: left;
    }
    .language-selection .dropdown-menu {
        right: 0;
        left: auto;
    }
    .language-dropdown-menu {
        min-width: 68px;
    }
    .language-selection {
        position: absolute !important;
        right: 15px;
        float: right;
    }

    .container {
        /*width: 1200px;*/
        width: 100%;
    }
    .navbar-brand {
        margin-left: initial !important;
    }
    .expedition-landing .dropdown-menu {
        left: initial;
    }
}


.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
