/***** DoeDat custom look & feel ******/

.selectable {
    cursor: pointer;
}

.a-feature.home {
    /*background-color: #357866;*/
    background-image: url(../images/doedat/feature-doedat.png);
    background-position-y: 28px;
    background-position-x: 67px;
}

/* Main colors */

body .navbar, body.digivol .navbar, .pagination > .active > span, .pagination > .active > span:hover {
    border-color: #236070 !important;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active, .digivol-tab img, body .navbar .navbar-brand, body .navbar .navbar-brand:hover, body .navbar .navbar-brand:focus, body .navbar .navbar-brand:active, body .btn-primary, body .btn-primary:hover, body .btn-primary:focus, body .btn-primary:active, body .btn-primary.active, .progress .progress-bar-transcribed, .key.transcribed, .pagination > .active > span, .pagination > .active > span:hover, .transcription-actions .btn.btn-next, .transcription-branding .institution-logo-main {
    background-color: #009b7f;
}
.a-feature.home {
 background-color: #236070;
}


.btn-warning {
    color: #fff;
    background-color: #85ac9e;
    border-color: #526e62;
}
.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #009b7f;
    border-color: #526e62;
}
.btn-warning:hover {
    color: #fff;
    background-color: #00be9f;
    border-color: #526e62;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #009b7f;
    border-color: #526e62;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #00be9f;
    border-color: #526e62;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #00d1ac;
    border-color: #526e62;
}


/*#226070*/
.transcription-branding .institution-logo-main {
    background-color: transparent !important;
}
section#footer .footer-brand, section#footer .footer-brand img {
    background: transparent !important;;
}

.locale {
    text-transform: uppercase;
}
@media (min-width: 1345px) {
    .navbar-fixed-top .navbar-collapse {
        padding-left: 100px;
        padding-right: 100px;
    }
    .navbar-nav {
        float: initial;
        margin-left: auto;
        width: initial;
        margin-right: auto;
    }
    .navbar-wrapper > .custom-search-input {
        position: absolute;
        right: 33px;
    }
    .nav > li {
        display: inline-block;
    }

    .navbar-wrapper {
        text-align: center;
        height: 70px;
    }
    .navbar-wrapper > ul {
        display: inline-block;
    }
    .navbar-wrapper > li {
        float: left;
    }
    .language-selection .dropdown-menu {
        right: 0;
        left: auto;
    }
    .language-dropdown-menu {
        min-width: 68px;
    }
    .language-selection {
        position: absolute !important;
        right: 15px;
        float: right;
    }

    .container {
        /*width: 1200px;*/
        width: 100%;
    }
    .navbar-brand {
        margin-left: initial !important;
        margin-top:25px;
    }
    .expedition-landing .dropdown-menu {
        left: initial;
    }
}
.digivol-tab img {
    max-width: 110px;
    margin: -3px 3px 0 2px;
    padding: 0;
}
.navbar-brand img {
    max-width: 170px;
    margin: 0;
}
.navbar-brand {
    background-color: transparent !important;
}
.digivol-tab img {
    background: inherit !important;
}


.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section#what-you-do img {
    max-height: 72px !important;
    min-width: 55px;
}

.logo-agi {
    max-height: 85px !important;
}
.form-control {
    padding: 3px 8px !important;
}